
.signup-title{
    font-family: 'Poppins', sans-serif; 
    font-weight: bold; 
    color: #123239; 
    font-size: 50px;
}
* {box-sizing: border-box}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input{
    border: 1px solid #123985; 
    border-radius: 20px;
}


.container {
  padding: 16px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=confirmpassword]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}


a {
  color: dodgerblue;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}
.registerbtn{
    transition-property: color, background-color, border-color, box-shadow;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s, 0s;
    background-color: #198754;
    border-color: #198754;
}

.login-btn{
  background-color: #C30000;
  color: white;
  margin: 4px;
}
small{
  font-style: italic;
}

.or-text{
  font-family: 'Poppins'; 
  font-size: 20px; 
  font-weight: 500; 
  margin-left: 185px;
  margin-top: 15px;
}
button{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: white;
  margin-left: 150px; 
  width: 100px; 
  border-radius: 15px;
}
