<section class="about container">
    <div style="text-align: center;">
        <p class="about-title">
            About us
        </p>
        </div>
    <p>The good communication between parents and teachers plays important role to support the achievements of educational goals. Teachers need to daily inform the parents about the student's activities, achievements, homeworks, events and other official informations from the school. On the other hand, the parents also need to communicate to the school, either to the class teacher, the school counselor, the school administration or the principals about many aspects of the students.</p>
    <p>School Management Systems helps Teachers to complete grade book, track
    students attendance, input class notes, create lesson plans and detailed reports, and
    communicate with other staff members, students, and parents</p>
    <p>It also helps Students to access assignments and tests, and view attendance records,
        grades, report cards, and progress reports all online.</p>
        <div class="follow text-center">
            <h4>Follow Us</h4>
            <a href="#">YouTube</a>
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
        </div>
    
</section>
